html{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color:black;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1{
    margin:0;
}

.hr{
    margin:0;
    height:8px;
    width:300px;
    border:none;
    background: radial-gradient(ellipse at center, rgba(255, 63, 255, 1) 0%, rgba(0, 0, 0, 0) 75%); /* Den sidste rgba på linien er "baggrundsfarven" for hr'en, Hr'en er ALTID firkantet, men ved at sætte dens alpha til 0 samt farven til sort bliver den usynlig. Procent værdien fungerer som en slags border radius på den førnævnte baggrundsfarve jo lavere procent værdi, jo mere af hr'en bliver gemt. */
}